PORT=8000
MONGO_URI=mongodb://localhost:27017/opspulsedb
JWT_SECRET=your_jwt_secret_key
CORSE_ORIGIN=http://localhost:3000

# =====Redis configuration=====
REDIS_USERNAME=d
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


# =====Resend configuration=====
RESEND_MAIL_API_KEY = 
RESEND_MAIL_FROM = opspulse <opspulse@devaditya.dev>

# =====GROQ configuration=====
GROQ_API_KEY=
