PORT= 8000
MONGO_URI= mongodb://localhost:27017/opspulsedb
JWT_SECRET=your_jwt_secret_key
CORSE_ORIGIN=http://localhost:3000

# =====Resend configuration=====
RESEND_API_KEY=
RESEND_FROM_EMAIL=opspulse@devaditya.dev